input {
  outline: none !important;
  border: none;
  background-color: transparent;
}

.board {
  flex: 1;
  height: 100vh;
  background-color: white;
}

.board-name-input {
  position: absolute;
  width: 50vw;
  margin: 0;
  padding: 15px;
  font-family: sans-serif;
  font-size: 16px;
  color: #60aa60;
  border: none;
  z-index: 1;
}

.board-name-text {
  position: absolute;
  margin: 0;
  padding: 15px;
  font-family: sans-serif;
  font-size: 16px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
}
