.board {
  flex: 1;
  height: 100vh;
  background-color: white;
}

.board-name-text {
  position: absolute;
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
}

.board-area {
  position: relative;
}

.board-area,
.board-back-area {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
